body,
h1,
h2,
h3,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  padding: 0 16px;
}
/* ==================
sectionタイトル
================== */

/* ==================
パララックス
================== */
#menu > .parallaxContent {
  background-image: url("../img/nathan-dumlao-zUNs99PGDg0-unsplash.jpg");
}
#about > .parallaxContent {
  background-image: url("../img/coffee-g4f622afd2_1920.jpg");
}
#location > .parallaxContent {
  background-image: url("../img/street-cafe-g1981f9639_1920.jpg");
}
.parallaxContent {
  width: 100%;
  height: 40vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================
ヘッダー
================== */
header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/patrick-tomasso-GXXYkSwndP4-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
header > ul {
  display: flex;
  justify-content: flex-end;
}
header > ul > li {
  margin-left: 15px;
}
header > h1 {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

/* ==================
メニュー
================== */
.subtitle {
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
}
.menu-content {
  display: flex;
}
.menuItem {
  width: 50%;
  padding: 0 20px;
}

.menuItem:first-child {
  border-right: 1px dotted rgb(85, 84, 84);
}
.menuItem > dl {
  display: flex;
  flex-wrap: wrap;
}
.menuItem > dl > dt {
  margin-bottom: 25px;
  width: 80%;
  border-bottom: 1px dotted rgb(85, 84, 84);
  text-align: left;
}
.menuItem > dl > dd {
  width: 20%;
  padding-top: 8px;
}

/* ==================
about
================== */
.aboutComment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.readMore {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

footer {
  text-align: center;
}

/* ==================
LOCATION
================== */

iframe {
  width: 100%;
}
